---

- when: devture_systemd_service_manager_services_list_to_work_with | length > 0
  name: Ensure systemd is reloaded
  ansible.builtin.service:
    daemon_reload: true

- when: devture_systemd_service_manager_service_restart_mode == 'clean-stop-start'
  block:
    # When it's just one service, do a restart instead of clean stop and then start.
    # A restart is less disruptive, because services that have this one as a dependency
    # will also stop and start again. If we stop this service cleanly and then start it,
    # services that have this one as a dependency will stop and remain stopped.
    - when: devture_systemd_service_manager_services_list_to_work_with | length == 1
      block:
        - name: Ensure single systemd service is restarted
          ansible.builtin.service:
            name: "{{ item.name }}"
            state: restarted
            enabled: "{{ devture_systemd_service_manager_services_autostart_enabled }}"
          with_items: "{{ devture_systemd_service_manager_services_list_to_work_with | sort (attribute='priority,name', reverse=true) }}"
          when: not ansible_check_mode

    - when: devture_systemd_service_manager_services_list_to_work_with | length > 1
      block:
        - name: Ensure systemd services are stopped
          ansible.builtin.service:
            name: "{{ item.name }}"
            state: stopped
          with_items: "{{ devture_systemd_service_manager_services_list_to_work_with | sort (attribute='priority,name', reverse=true) }}"
          when: not ansible_check_mode

        - name: Ensure systemd services are started
          ansible.builtin.service:
            name: "{{ item.name }}"
            state: started
            enabled: "{{ devture_systemd_service_manager_services_autostart_enabled }}"
          with_items: "{{ devture_systemd_service_manager_services_list_to_work_with | sort (attribute='priority,name') }}"
          when: not ansible_check_mode

- when: devture_systemd_service_manager_service_restart_mode == 'one-by-one'
  block:
    - name: Ensure systemd services are restarted one by one
      ansible.builtin.service:
        name: "{{ item.name }}"
        state: restarted
        enabled: "{{ devture_systemd_service_manager_services_autostart_enabled }}"
      with_items: "{{ devture_systemd_service_manager_services_list_to_work_with | sort (attribute='priority,name') }}"
      when: not ansible_check_mode

- when: devture_systemd_service_manager_service_restart_mode == 'priority-batched'
  block:
    - name: Collect unique priorities for batched restarts
      ansible.builtin.set_fact:
        devture_systemd_service_manager_priorities: >-
          {{
            (devture_systemd_service_manager_services_list_to_work_with | map(attribute='priority') | list)
            | unique | sort
          }}

    - name: Restart systemd services in priority batches
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/util/start_priority_batch.yml"
      vars:
        devture_systemd_service_manager_services_list_to_start: "{{ devture_systemd_service_manager_services_list_to_work_with }}"
        devture_systemd_service_manager_target_state: restarted
      loop: "{{ devture_systemd_service_manager_priorities }}"
      loop_control:
        loop_var: priority

- when: devture_systemd_service_manager_service_restart_mode == 'all-at-once'
  block:
    - name: Build systemctl restart command for all services
      ansible.builtin.set_fact:
        devture_systemd_service_manager_all_at_once_restart_command: >-
          systemctl restart
          {{ devture_systemd_service_manager_services_list_to_work_with | sort(attribute='priority,name') | map(attribute='name') | join(' ') }}

    - name: Show systemctl restart command
      ansible.builtin.debug:
        var: devture_systemd_service_manager_all_at_once_restart_command

    - name: Restart all systemd services at once
      ansible.builtin.command:
        cmd: "{{ devture_systemd_service_manager_all_at_once_restart_command }}"
      when: not ansible_check_mode

    - name: Ensure systemd services are auto-started
      ansible.builtin.command:
        cmd: >-
          systemctl enable
          {{ devture_systemd_service_manager_services_list_to_work_with | map(attribute='name') | join(' ') }}
      register: devture_systemd_service_manager_all_at_once_enable_result
      changed_when: "devture_systemd_service_manager_all_at_once_enable_result.stdout | default('') != ''"
      when: "not ansible_check_mode and devture_systemd_service_manager_services_autostart_enabled | bool"

- when: devture_systemd_service_manager_up_verification_enabled | bool and devture_systemd_service_manager_services_list_to_work_with | length > 0
  name: Verify that systemd services started successfully
  block:
    # If we check service state immediately, we may succeed,
    # because it takes some time for the service to attempt to start and actually fail.
    #
    # Waiting too long (30s) may not work for a similar reason,
    # as we may run into systemd's automatic restart logic retrying the service.
    - name: Wait a bit, so that services can start (or fail)
      ansible.builtin.wait_for:
        timeout: "{{ devture_systemd_service_manager_up_verification_delay_seconds }}"
      delegate_to: 127.0.0.1
      become: false

    - name: Populate service facts
      ansible.builtin.service_facts:

    - name: Fail if service isn't detected to be running
      ansible.builtin.fail:
        msg: >-
          {{ item }} was not detected to be running
          (actual state: {{ ansible_facts.services[item].state | default('unknown/not-found-in-service-facts') }}).
          It's possible that there's a configuration problem or another service on your server interferes with it (uses the same ports, etc.).
          Try running `systemctl status {{ item }}` and `journalctl -fu {{ item }}` on the server to investigate.
          If you're on a slow or overloaded server, it may be that services take a longer time to start and that this error is a false-positive.
          You can consider raising the value of the `devture_systemd_service_manager_up_verification_delay_seconds` variable.
          The current restart mode is `{{ devture_systemd_service_manager_service_restart_mode }}`
          and the wait time before checking was {{ devture_systemd_service_manager_up_verification_delay_seconds }} seconds.
          See `{{ role_path }}/defaults/main.yml` for more details.
      with_items: "{{ devture_systemd_service_manager_services_list_to_work_with | sort (attribute='priority,name') | map(attribute='name') }}"
      when:
        - "item.endswith('.service') and (ansible_facts.services[item] | default(none) is none or ansible_facts.services[item].state != 'running')"
